{% extends "layout.html" %}
{% set title = 'NetworkX' %}
{% set script_files = script_files + ["_static/force/d3js/d3.min.js"] %}
{% set script_files = script_files + ["_static/force/d3js/d3.geom.min.js"] %}
{% set script_files = script_files + ["_static/force/d3js/d3.layout.min.js"] %}
{% set css_files = css_files + ["_static/force/force.css"] %}
{% block body %}


<h2>Software for complex networks</h2>

<table align="left" style="margin-left: 0px">
<tr>
  <td width="60%">
<blockquote>
<p>NetworkX is a Python package for the creation, manipulation, and study of the structure, dynamics, and functions of complex networks.</p>
</blockquote>
  </td>
    <td width="40%">
    <div id="chart"></div>
    <script type="text/javascript" src="_static/force/force.js"></script>
</td></tr>
</table>

<h4>Features</h4>
<ul class="simple">
<li> Data structures for graphs, digraphs, and multigraphs</li>
<li> Many standard graph algorithms</li>
<li> Network structure and analysis measures</li>
<li> Generators for classic graphs, random graphs, and synthetic networks</li>
<li> Nodes can be &quot;anything&quot; (e.g., text, images, XML records)</li>
<li> Edges can hold arbitrary data (e.g., weights, time-series)</li> 
<li> Open source <a href="https://raw.githubusercontent.com/networkx/networkx/master/LICENSE.txt">3-clause BSD license</a> </li>
<li> Well tested with over 90% code coverage</li>
<li> Additional benefits from Python include fast prototyping, easy to teach, and multi-platform</li>
</ul>
{% endblock %}
